# Optional setting that you may want to disable.

### Compress ouput by mod_deflate
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css application/x-javascript application/javascript text/html text/plain text/xml
</IfModule>

### Use expires headers for images
<IfModule mod_expires.c>
	 ExpiresActive 	On
	 ExpiresByType 	image/gif		  			A604800
	 ExpiresByType  image/jpg		 			A604800
	 ExpiresByType  image/jpeg		 			A604800
	 ExpiresByType 	image/png		  			A604800
	 ExpiresByType	application/x-javascript	A86400
	 ExpiresByType	application/javascript		A86400
	 ExpiresDefault				 				A604800
</IfModule>

### Change Application enviorment cause load various Config
# production is default 
# SetEnv APP_ENV debug

### Application requirement , dont change below !!

DirectoryIndex index.php

### Rewrite rules for Zend Framework
<IfModule mod_rewrite.c>
	SetEnv HTTP_MOD_REWRITE On
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>
