.galleria{list-style:none;width:630px; margin-left:0px;}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 2px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */



.caption{font-style:italic;color:#887;}
.demo{position:relative;margin-top:2em;}
.gallery_demo{width:630px;margin:0 0;}
.gallery_demo li{width:68px;height:60px; margin: 0 2px;background:#000; position:relative; z-index:2;}
.gallery_demo li div{left:240px}
.gallery_demo li div .caption{font:italic 0.7em/1.4 georgia,serif;}

#main_image{margin:0 auto 20px auto;height:440px;width:630px;background:#000;}
#main_image img{margin-bottom:10px;}

span.caption {font-size:1px; z-index:1; position:relative;}
ul#galleria-force.galleria  li {margin-left:-10px; margin-right:20px; margin-top:2px;}


div.portfolio-galleria {width:630px; float:left;}
div.portfolio-galleria  ul#galleria-force.galleria  li {margin-left:0px; margin-right:10px;}
