<?xml version="1.0" encoding="UTF-8"?>
<params>
	<param name="seperator">
		<description><![CDATA[The character used to seperate bad words]]></description>
		<value>,</value>
	</param>
	<param name="badWords">
		<description><![CDATA[List of bad words]]></description>
		<value>shit,fuck,mother fucker</value>
	</param>
</params>
